<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/lp.css">
    <title>局部问题</title>
</head>
<body>
<div class="helpcenterWild">
    <div class="new100content">
        <div class="helpcenter clearfloat">
            <div class="helpcenter_Cleft">
                <img src="../static/img/help_left.png">
            </div>
            <div class="helpcenter_Cright">
				<img src="../static/img/help_right.png">
			</div>
            <div class="helpcenter_left">
                <h2>局部问题:近</h2>
                <div id="content_1" class="helpcenter_leftIn mCustomScrollbar _mCS_">
                    <!--左侧列表-->
                    <ul>
                        <li><a class="helpcenter_leftInOn">曲线展示</a></li>
                        <li><a>评价指标</a></li>
                    </ul>
                    <!--左侧列表end-->
                </div>
            </div>
            <div class="helpcenter_right">
                <!--帮助中心右侧-->
                <div class="helpcenter_rightIn">
                    <!--帮助中心1号信息-->
                    <div class="helpcenter_rightIns helpcenter_rightInsOn">
                        <!--图文一-->
                        <div>
                            <div class="helpcenter_rightInL">
                                <h2><span class="contenttitle">现状</span></h2>
                            </div>
                            <div>
                                <div class="helpcenter_rightInR">
                                    <div id="container" style="width: 550px heigh: 440px; margin:0 auto"></div>
                                </div>
                            </div>
                        </div>
                        <!--图文2-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>