<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="../static/css/main.css">
<title>演示2</title>
</head>
<body style="overflow: hidden;">
<!--帮助中心内容区-->
<div class="helpcenterWild">
	<div class="new100content">
		<div class="helpcenter clearfloat">
			<div class="helpcenter_Cleft">
				<img src="../static/img/help_left.png">
			</div>
			<div class="helpcenter_Cright">
				<img src="../static/img/help_right.png">
			</div>
			<div class="helpcenter_left">
				<h2>局部问题:近</h2>
				<div id="content_1" class="helpcenter_leftIn mCustomScrollbar _mCS_1">
					<!-- 左侧列表 -->
					<ul>
						<li><a class="helpcenter_leftInOn">曲线展示</a></li>
						<li><a>评价指标</a></li>
					</ul>
					<!-- 左侧列表end -->
				</div>
			</div>
			<div class="helpcenter_right">
			<!-- 帮助中心右侧 -->
				<div class="helpcenter_rightIn">

					<!--帮助中心1号信息-->
					<div class="helpcenter_rightInIn displayblock">
						<!-- 图文1 -->
						<div class="helpcenter_rightIns helpcenter_rightInsOn">
							<div class="helpcenter_rightInL">
								<h2><span class="contenttitle">现状1</span><span class="helpcenter_span1"></h2>
							</div>
							<div id="container1"></div>
						</div>
						<!-- 图文2 -->
						<div class="helpcenter_rightIns">
							<div class="helpcenter_rightInL">
								<h2><span class="contenttitle">现状2</span><span class="helpcenter_span1"></h2>
							</div>
							<div id="container2"></div>
						</div>
						<!-- 图文3 -->
						<div class="helpcenter_rightIns">
							<div class="helpcenter_rightInL">
								<h2><span class="contenttitle">现状3</span><span class="helpcenter_span1"></h2>
							</div>
							<div id="container3"></div>
						 </div>
					</div>
					
					<!--帮助中心2-->
					<div class="helpcenter_rightInIn">
						<div class="helpcenter_rightIns helpcenter_rightInsOn">
							<div class="helpcenter_rightInL">
								<h2><span>评价指标1</span><span class="helpcenter_span1"></h2>
							</div>
							<div class="helpcenter_rightInR">
							</div>
						</div>
						<div class="helpcenter_rightIns">
							<div class="helpcenter_rightInL">
								<h2><span>评价指标2</span><span class="helpcenter_span1"></h2>
							</div>
							<div class="helpcenter_rightInR">
							</div>
						</div>
						<div class="helpcenter_rightIns">
							<div class="helpcenter_rightInL">
								<h2><span>评价指标3</span><span class="helpcenter_span1"></h2>
							</div>
							<div class="helpcenter_rightInR">
							</div>
						 </div>
						 <div class="helpcenter_rightIns">
							<div class="helpcenter_rightInL">
								<h2><span>评价指标4</span><span class="helpcenter_span1"></h2>
							</div>
							<div class="helpcenter_rightInR">
							</div>
						 </div>
					</div>
					<!--over-->
				</div>
			</div>
		</div>
	</div>
	<div class="helpcenter_bottom">
		<a class="helpcenter_bBL"><img src="../static/img/help_bottomleft.png" alt="" /></a>
		<a class="helpcenter_bB helpcenter_bBon">1</a><a class="helpcenter_bB">2</a><a class="helpcenter_bB">3</a>
		<a class="helpcenter_bBR"><img src="../static/img/help_bottomright.png" alt="" /></a>
	</div>

</div>
<!--帮助中心结束-->
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/highcharts.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>

</body>
</html>